.cart-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    position: sticky;
    top: 0;
    background-color: rgb(7, 6, 6);
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.checkout-div{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;

    padding-left: 30px;
    padding-right: 30px;
}

.checkout-div-header{
    font-size: 22px;
    font-weight: 700;
}

.checkout-details{
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 20px;
    align-items: start;
    
    padding-top: 30px;
}

@media screen and (max-width : 840px){
    .checkout-details{
        grid-template-columns: 1fr;
    }
    .billing{
        grid-row: 1;
    }
}

.product-details-grid{
    display: grid;
    grid-template-columns: 200px 1fr minmax(50px, 0.2fr);
    grid-column-gap : 5px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
@media screen and (max-width : 840px){
    .product-details-grid{
        grid-template-columns: 100px 1fr minmax(40px, 0.2fr);
    }
}

.data-name{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.data-price{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(215, 31, 31);
}
.data-delete{
    padding: 5px;
    height: 50px;
    align-self: start;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.billing{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 20px;
}
.billing-header{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.items{
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: right;
}
.last-items{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.totals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: rgb(215, 31, 31);
    margin-bottom: 15px;
}

.placeOrder-btn{
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}